body {
    background-color: #f8f9fa; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #495057;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    margin: 10px 0 0;
    font-size: 18px;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; 
}

.featured {
    text-align: center;
}

.featured img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.img {
max-width: 100%;
height: auto;
border-radius: 8px;
margin-top: 20px;
max-height: 150px; 
}


h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 2em; 
  }